body {
    margin: 0;
    padding: 0;
    background: linear-gradient(white 40%, rgb(111, 156, 166)) no-repeat center center fixed;;
    background-size: 100vmax;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
h2 {
    font-family: 'Suravaram', serif;
    font-size: 4vw;
    border-bottom-style: solid;
    border-color: #182955;
    box-shadow: 0 8px 6px -6px grey;
}
h4 {
    font-family: 'Suravaram', serif;
    font-size: 3vw;
}
.navbar-brand {
    height: 15vh;
    width: 15vh;
}
.linkText {
    font-family: 'Suravaram', serif;
    font-size: 2vw;
    color: #6f9ca6;
}
.linkText:hover {
    color: #182955;
}
.welcomeDiv {
    text-align: center;
    opacity: 1.0;
    margin-top: 18vh;
    color: #182955;
}
.dark-cover {
    font-family: 'Suravaram', serif;
    font-size: 3vw;
    font-weight: bold;
    padding: 10px;
}
.dark-cover-name {
    font-family: 'Suravaram', serif;
    font-size: 6vw;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
.bioDiv {
    padding-top: 20vh;
    color: #182955;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.bioDiv.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#profileImage {
    height: 25vh;
    width: 25vh;
    box-shadow: 0 8px 6px -6px grey;
}
.bioText {
    font-family: 'Suravaram', serif;
    font-size: 3vh;
}
.portfolioDiv {
    padding-top: 15vh;
    color: #182955;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.portfolioDiv.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#portfolioItem {
    background-color: rgba(110, 156, 166, 0.4);
    color: #182955;
    box-shadow: 0 8px 6px -6px grey;
    font-family: 'Suravaram', serif;
    transition: background-color 0.5s ease;
}
#portfolioItem:hover {
    background-color: rgba(21, 41, 85, 0.4);
    color: white;
}
.portfolioImg {
    height: 25vh;
    width: 36vh;
}
.contactDiv {
    padding-top: 15vh;
    padding-bottom: 15vh;
    color: #182955;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.contactDiv.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#contactItem {
    background-color: rgba(111, 156, 166, 0.4);
    color: #182955;
    box-shadow: 0 8px 6px -6px grey;
    font-family: 'Suravaram', serif;
    transition: background-color 0.5s ease;
}
#contactItem:hover {
    background-color: rgba(21, 41, 85, 0.4);
    color: white;
}
.contactImg {
    height: 28vh;
    width: 36vh;
}