header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-brand {
    height: 100px;
    width: 100px;
}
.img-container {
    background-image: url("assets/images/polygon.jpg");
    background-size: cover;
    text-align: center;
    opacity: 1.0;
    margin-top: 125px;
}
.dark-cover {
    font-size: 2vw;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    mix-blend-mode: screen;
}
.dark-cover-name {
    font-size: 6vw;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    mix-blend-mode: screen;
}
.portfolioImg {
    height: 100px;
    width: 200px;
}