body {
    margin: 0;
    padding: 0;
    background: linear-gradient(white 40%, rgb(111, 156, 166)) no-repeat center center fixed;;
    background-size: 100vmax;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
h2 {
    font-family: 'Suravaram', serif;
    font-size: 4vw;
    border-bottom-style: solid;
    border-color: #182955;
    box-shadow: 0 8px 6px -6px grey;
}
h4 {
    font-family: 'Suravaram', serif;
    font-size: 3vw;
    border-bottom-style: solid;
    border-color: #182955;
    box-shadow: 0 8px 6px -6px grey;
}
.navbar-brand {
    height: 100px;
    width: 100px;
}
.navbar {
    background: white;

}
.linkText {
    font-family: 'Suravaram', serif;
    font-size: 2vw;
    color: #6f9ca6;
}
.linkText:hover {
    color: #182955;
}
.img-container {
    text-align: center;
    opacity: 1.0;
    margin-top: 125px;
    color: #182955;
}
.dark-cover {
    font-family: 'Suravaram', serif;
    font-size: 3vw;
    font-weight: bold;
    padding: 10px;
    text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.dark-cover-name {
    font-family: 'Suravaram', serif;
    font-size: 6vw;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.bioDiv {
    margin-top: 75px;
    color: #182955;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.bioDiv.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#profileImage {
    height: 25vh;
    width: 25vh;
    box-shadow: 0 8px 6px -6px grey;
}
.bioText {
    font-family: 'Suravaram', serif;
    font-size: 3vh;
}
.portfolioDiv {
    color: #182955;
    margin-top: 75px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.portfolioDiv.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#portfolioItem {
    background-color: rgba(111, 156, 166, 0.4);
    color: #182955;
    box-shadow: 0 8px 6px -6px grey;
    font-family: 'Suravaram', serif;
}
.portfolioImg {
    height: 150px;
    width: 250px;
}
.contactDiv {
    margin-top: 75px;
    margin-bottom: 250px;
    color: #182955;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.contactDiv.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#contactItem {
    background-color: rgba(111, 156, 166, 0.4);
    color: #182955;
    box-shadow: 0 8px 6px -6px grey;
    font-family: 'Suravaram', serif;
}