body {
    margin: 0;
    padding: 0;
    background: linear-gradient(white 40%, #182955) no-repeat center center fixed;;
    background-size: 100vmax;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-brand {
    height: 100px;
    width: 100px;
}
.linkText {
    color: #6f9ca6;
}
.linkText: hover {
    color: #182955;
}
.img-container {
    text-align: center;
    opacity: 1.0;
    margin-top: 125px;
}
.bioDiv {
    margin-top: 75px;
}
.portfolioDiv {
    margin-top: 75px;
}
#profileImage {
    height: 25vh;
    width: 25vh;
}
.bioText {
    font-size: 3vh;
}
.contactDiv {
    margin-top: 75px;
}
.dark-cover {
    font-size: 2vw;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    mix-blend-mode: exclusion;
}
.dark-cover-name {
    font-size: 6vw;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    mix-blend-mode: exclusion;
}
.portfolioImg {
    height: 150px;
    width: 250px;
}
#portfolioItem {
    background-color: rgba(63, 76, 113, 0.4);
    color: white;;
}
#contactItem {
    background-color: rgba(63, 76, 113, 0.4);
    color: white;
}